apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dev

resources:
- ../../base

commonLabels:
  environment: dev

replicas:
- count: 1
  name: api

images:
- name: ghcr.io/barsukov/api
  newName: ghcr.io/barsukov/api
  newTag: dev-20260209-65026ef

patches:
- patch: |-
    - op: replace
      path: /spec/template/spec/containers/0/env/0/value
      value: "development"
  target:
    kind: Deployment
    name: api
