apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dev

resources:
- ../../base

commonLabels:
  environment: dev

replicas:
- count: 1
  name: frontend

images:
- name: ghcr.io/barsukov/frontend
  newName: ghcr.io/barsukov/frontend
  newTag: dev-20260206-2532d18
