apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dev

resources:
  - ../../base

commonLabels:
  environment: dev

replicas:
  - name: frontend
    count: 1

images:
  - name: ghcr.io/barsukov/frontend
    newTag: latest
