apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: production

resources:
  - ../../base

commonLabels:
  environment: production

replicas:
  - name: frontend
    count: 2

images:
  - name: ghcr.io/barsukov/frontend
    newTag: latest
